* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: auto;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
}
.logo {
  width: 80px;
  object-fit: cover;
}
h1 {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.prompt-card {
  border: red solid 5px;
}

.delete-btn {
  cursor: pointer;
}
.prompt-card-list {
  display: flex;
  gap: 1em;
  align-items: center;
}

.input-container {
  width: 500px;
  margin: 0 auto;
}

.input {
  padding: 1em;
  margin-top: 2em;
  width: 100%;
}
